body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------watching ----------------------------------------*/
.title-watching , .label span{
    font-family: 'Lato',sans-serif;
    font-size: 0.8em;
    font-weight: 700;
}

.watching-frame {
  aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
  background-color: var(--light-dark-background);
  width: 100%; /* Ensure it spans the full width of its container */
}

.frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--blue-highlight);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-button i {
  color: #fff;
}

.rating .btn{
    color: #808080;
}
.rating .active{
    color: var(--star);
}
.episode ul {
    display: flex;           
    flex-wrap: wrap;        
    gap: 10px;               
    padding: 0;            
    margin: 0;               
}

.episode li {
    list-style: none;       
}
.episode ul li .btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid var(--blue-highlight);

}
.episode .active{
    background-color: var(--blue-highlight);
}
.right-menu-container {
  margin: 0; /* Ensure no extra margin on the container */
  padding: 0; /* Ensure no extra padding */
}

.right-menu-content {
  width: 100%; /* Ensure the content spans the entire width */
  padding: 0; /* Remove internal padding if necessary */
}

.container-movie {
  margin: 0; /* Ensure no extra margin on the entire row */
  padding: 0; /* Ensure no extra padding */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling caused by overflow */
}





