<div
class="container mt-5 d-flex justify-content-between align-items-center"
>
<div class="poster">
  <img
    [src]="wedPath"
    alt="Wednesday Poster"
    class="img-fluid"
  />
</div>

<div class="details">
  <h1>Wednesday</h1>
  <p>
    Follows Wednesday Addams' years as a student, when she attempts to
    master her emerging psychic ability, thwart a killing spree, and solve
    the mystery that embroiled her parents.
  </p>
  <div class="d-flex align-items-center evaluation">
    <div class="rating"><span>⭐ 7.8</span></div>
    <div class="genres d-flex">
      <span class="badge bg-info">Fantasy</span>
      <span class="badge bg-info">Fantasy</span>
      <span class="badge bg-info">Fantasy</span>
      <span class="badge bg-info">Fantasy</span>
    </div>
  </div>
  <div class="actions mt-3">
    <i class="fa-regular fa-heart"></i>
    <button class="btn btn-outline-light">+ MY LIST</button>
    <button class="btn btn-success">WATCH NOW</button>
  </div>
</div>
</div>

<div class="container mt-5">
<div class="title-bar">
  <h4>YOU MAY ALSO LIKE</h4>
  <p>See more ></p>
</div>
<hr />
<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="rating">⭐ 7.8</div>
      <img [src]="lokiPath" alt="Loki" />
      <div class="details">
        <div class="details-left">
          <h5>Loki</h5>
          <p>2023</p>
        </div>
        <div class="details-right"><p>Complete</p></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="rating">⭐ 7.8</div>
      <img [src]="lokiPath" alt="Loki" />
      <div class="details">
        <div class="details-left">
          <h5>Loki</h5>
          <p>2023</p>
        </div>
        <div class="details-right"><p>Complete</p></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="rating">⭐ 7.8</div>
      <img [src]="lokiPath" alt="Loki" />
      <div class="details">
        <div class="details-left">
          <h5>Loki</h5>
          <p>2023</p>
        </div>
        <div class="details-right"><p>Complete</p></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="rating">⭐ 7.8</div>
      <img [src]="lokiPath" alt="Loki" />
      <div class="details">
        <div class="details-left">
          <h5>Loki</h5>
          <p>2023</p>
        </div>
        <div class="details-right"><p>Complete</p></div>
      </div>
    </div>
  </div>
</div>
</div>
