<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TV Series</a>
      </li>
    </ul>

    <form class="d-flex align-items-center search-bar">
      <div class="input-group">
        <span class="input-group-text bg-dark text-light border-0">
          <img src="res\search-icon.png" alt="Search" width="16" height="16" />
        </span>
        <input
          type="text"
          class="form-control bg-dark text-light border-0"
          placeholder="Search"
        />
        <span class="input-group-text bg-dark text-light border-0">
          <img src="res\Filter.png" alt="Filter" width="16" height="16" />
        </span>
      </div>
    </form>
  </div>
</nav>
<router-outlet />
<footer class="footer">
  <div class="px-0 py-4 m-0 container-fluid">
    <div class="row h-100 ">
      <div class=" col-md-7 p-0 m-0 text-start">
        <img class=" p-0 m-0 my-4  logo " [src]="frame4" alt="logo" />
        <p class="p-0 m-0 mb-3 col-10">
          Have <a href="#">feedback</a> or <a href="#">suggestions</a>?
          Don’t hesitate to share them with us!
        </p>
        <p class="p-0 m-0 mb-3 col-10">
          Your contributions help us build a better website for everyone.
        </p>
        <p class="p-0 m-0  col-10">Copyright © 2024 Watch Free Movie</p>
      </div>
      <div class="col-md-5 container-input ">
        <form>
          <div class="row">
            <div class="col-md-6 p-2 ">
              <input
                type="text"
                class="form-control form-control-lg input"
                placeholder="Full Name"
              />
            </div>
            <div class="col-md-6 p-2 ps-0 ">
              <input
                type="email"
                class="form-control form-control-lg input"
                placeholder="Email Address"
              />
            </div>
          </div>
          <div class="">
            <textarea
              class="form-control input p-2 mb-2 "
              cols="5"
              rows="5"
              placeholder="Your message"
            ></textarea>
          </div>
          
          <div class="">
            <button type="submit" class="btn mb-2">
              <i class="fa-regular fa-paper-plane"></i> Send Feedback
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
