<div class="row w-100 d-flex justify-content-center align-items-center">
  
  <div class="col-12" >
    
    <div class="mt-4 mb-5" >
     <app-film-grid [films]="movieList()" [description]="'Movies'" [notSorting]="false" [displayFrame]="4"></app-film-grid> 
       <!-- <app-pagination [totalItems]="200" [itemsPerPage]="10" [currentPage]="currentPage" (pageChanged)="pageChanged($event)"></app-pagination> -->
       <app-pagination 
       [currentPage]="currentPage"
       [totalPages]="totalPages"
       [maxVisiblePages]="5"
       (pageChange)="pageChanged($event)"
       ></app-pagination>
    </div>
  </div>
</div>
