body {
    background-color: #121212; /* Màu nền tối */
}

.carousel-slide-content {
    min-height: 400px;
}

.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

.carousel-inner {
    background-color: #1c1c1c; /* Màu nền của carousel */
}

.carousel-indicators button {
    background-color: #6c757d; /* Màu xám cho nút */
}

.carousel-indicators .active {
    background-color: #ffffff; /* Màu trắng cho nút đang hoạt động */
}

.btn-primary {
    background-color: #00b7c2;
    border-color: #00b7c2;
}

.btn-light {
    background-color: #6c757d;
    color: #fff;
    border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.5); /* Nền mờ cho mũi tên */
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
