body {

    background: url('/assets/images/background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    justify-content: center;
    overflow-y: auto;

}

.left {
    padding: 40px;
    width: 50%;
    height: 100%;
}

.left .logo img {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    left: 20px;
    top: 20px;
    width: 2.5em;
}

.left .greeting {
    position: absolute;
    bottom: 1.5em;
    left: 2em;
}

.left .welcome {
    color: var(--white-color);
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 10px;
}

.left .description {

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--white-color);
    font-size: 0.8em;
    max-width: 60%;
}

.right {
    display: flex;
    /* Enables flexbox */
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    padding: 20px 0px;
    width: 46%;
    min-height: 100vh /* Đảm bảo chiều cao tối thiểu */ 
}

.right .container-form {
    display: block;

    justify-content: center;
    width: 74%;
    /* height: 80%; */
    border-radius: 10px;
    bottom: 1px;
    justify-self: center;
}


.right h2 {
    color: var(--blue-highlight);
    /* margin-top: 40px; */
    /* margin-bottom: 10px; */
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.5em;
}

.container-form {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    display: block;
}
label{
    font-size: 0.8em;
}

.container-form input {
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    border: 0;
    background-color: var(--light-grey);
    margin-bottom: 0.5em;
}

.container-form button {

    margin-top: 0.5em;
}

.input-container {
    position: relative;
    /* padding: 0; */
    width: 100%;
}

.input-container input {
    width: 100%;
    padding-right: 2em;

    /* Tạo khoảng trống cho biểu tượng */
}

.input-container .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--grey);
}

.form-control {
    margin-bottom: 15px;
    font-size: 0.7em;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    /* Distributes space between elements */
    align-items: center;
    /* Aligns items vertically */
    font-size: 0.8em;
}
.forgot{
    text-align: end;
}
.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input[type="checkbox"] {
    margin: auto 0;
    position: relative;
    z-index: 1;
}

.remember-me label {
    margin-left: 5px;
    z-index: 1;
    font-size: 0.8em;
}

.btn-primary {
    background-color: var(--blue-highlight);
    border: none;
    font-size: 0.8em;
}

.orwith {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
}

.social-buttons {
    display: flex;
    text-align: center;
    justify-content: center;
}

.social-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 5px;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--blue-highlight);
}

.social-buttons img {
    max-width: 50%;
    /* Ensures the image is well within the button */
    max-height: 50%;
    /* Ensures the image is well within the button */
    /* border-radius: 50%; */
    /* Keeps the image circular */
    object-fit: cover;
}

.social-buttons .google {
    background-color: var(--blue-highlight);
}

.social-buttons .facebook {

    background-color: var(--blue-highlight);
}




.sign-up {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    margin: 0.5em;
    text-align: center;
    margin: 10px 0;
}

@media (max-width: 600px) { 
    body { 
        background: url('/assets/images/background-md.png') no-repeat center center fixed; 
        background-size: cover; 
        display: block;
        
    }
    .left{
        width: 100%;
        height: auto;
    }
    .right{
        width: 100%;
        display: block;
        margin: auto 0px; 
    }
    .container-form {
        background-color: var(--white-color);
        padding: 1em 2em;
    }
    .greeting{
        visibility: hidden;
    }


}