<div class="d-flex col-12 justify-content-center align-items-center my-0">
  <!-- Pagination for larger screens -->
  <ul class="pagination pagination-dark d-flex gap-2 py-0 mt-2 mb-0 flex-wrap d-none d-md-flex">
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">
          <i class="fa-solid fa-arrow-left me-2"></i>
          Previous</span>
      </a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item disabled">
      <a class="page-link" href="#">...</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">67</a></li>
    <li class="page-item"><a class="page-link" href="#">68</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">Next
          <i class="fa-solid fa-arrow-right ms-2"></i>
        </span>
      </a>
    </li>
  </ul>

  <!-- Pagination for smaller screens -->
  <ul class="pagination pagination-dark d-flex gap-2 py-0 mt-2 mb-0 flex-wrap d-flex d-md-none">
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">
          <i class="fa-solid fa-arrow-left me-2"></i>
          Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">Next
          <i class="fa-solid fa-arrow-right ms-2"></i>
        </span>
      </a>
    </li>
  </ul>
</div>
