<footer class="footer">
  <div class="container-fluid px-0 py-4">
    <div class="row h-100">
      <!-- Left Section -->
      <div class="col-lg-7 col-md-12 text-start mb-4 ">
        <img class="logo my-4" [src]="frame4" alt="logo" />
        <div class="mb-2"></div>
        <p class="mb-3">
          Have <a href="#">feedback</a> or <a href="#">suggestions</a>? Don’t
          hesitate to share them with us!
        </p>
        <p class="mb-3">
          Your contributions help us build a better website for everyone.
        </p>
        <p>Copyright © 2024 Watch Free Movie</p>
      </div>
      <!-- Right Section -->
      <div class="col-lg-5 col-md-12">
        <form>
          <div class="row">
            <div class="col-md-6 mb-3">
              <input
                type="text"
                class="form-control form-control-lg input"
                placeholder="Full Name"
              />
            </div>
            <div class="col-md-6 mb-3">
              <input
                type="email"
                class="form-control form-control-lg input"
                placeholder="Email Address"
              />
            </div>
          </div>
          <div class="mb-3">
            <textarea
              class="form-control input"
              rows="4"
              placeholder="Your message"
            ></textarea>
          </div>
          <div>
            <button type="submit" class="btn">
              <i class="fa-regular fa-paper-plane me-2"></i> Send Feedback
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
