<!-- <div
  class="container-fluid row"
  [ngStyle]="{
    'background-image': 'url(' + selectedMovie()?.poster_url + ')'
  }"
> -->

<div class="newest container-fluid text-light"
[ngStyle]="{
  'background-image': 'url(' + selectedMovie()?.poster_url + ')',
  'background-repeat': 'no-repeat', 
  'background-size': 'cover', 
  'background-position': 'center'
}">

  <div class="gradient-overlay"></div>
  <div  [ngClass]="{'move-right': isLeftMenuOpen}"
      class=" main-content transition-content" *ngIf="selectedMovie() as movie">
      <div class="container-fluid">
        <div class="d-flex flex-wrap poster-container align-items-center">
          <div class="poster">
            <img [src]="movie.thumb_url" alt="poster" class="img-fluid" />
          </div>
    
          <div class="details col-md-8">
            <h1>{{ movie.name }}</h1>
            <p>{{ movie.description }}</p>
            <div class="buttons my-5">
              <button
                class="btn btn-watch align-items-center py-2 text-light"
                (click)="goToWatch(movie)"
              >
                <i class="fa-regular fa-circle-play text-light me-2 mt-1"></i>WATCH
                NOW
              </button>
              <button [routerLink]="'/description'" class="btn btn-detail ms-4">
                DETAIL
              </button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="below-part">
        <div class="container-row">

          @for (item of newestList(); track $index) {
            <div class="thumbnail" (click)="goToDescription(item)" style="cursor: pointer;">
              <div class="rating">{{item.quality}} {{item.language}}</div>
              <img [src]="item.thumb_url" alt="Loki" />
              <div class="details d-block">
                <div class="details-top col-12 text-start">
                  <h5>{{item.original_name}}</h5>
                </div>
              </div>
            </div>
          }

        </div>
      </div>
      </div>
</div>
 