body {
  background-color: #1b1b2f; /* Dark background */
}

.card-img-overlay {
  position: relative;
  background: rgba(0, 0, 0, 0.5); /* Overlay effect */
  border-radius: 0.5rem;
  text-align: center;
  overflow: hidden;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-link {
  font-size: 1.2rem;
}

.card-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.container-fix {
  overflow: hidden;
}
.card {
  overflow: hidden;
}

