<div class="row d-flex justify-content-center ">
  <div class="col-10 m-0 p-0">
    <div class="profile-header" [ngStyle]="{'background-image': 'url(' + user?.image + ')'}">
      <div class="profile-picture">
        <img [src]="user?.avatar" alt="Profile Picture" />
      </div>
      <div class="profile-name">{{user?.fullName}}</div>
      <div class="profile-camera">
        <img [src]="cameraPath" alt="camera" />
      </div>
      <div class="log-out">
        <a class="btn btn-design" (click)="logOut()">
          <img [src]="logoutPath" alt="logout icon" /> Log Out
        </a>
      </div>
    </div>

    <div class="container playlist-container">
      <ul class="nav nav-tabs pt-4 ps-2">
        <li class="nav-item nav-fix">
          <a [ngClass]="{'active': isFavorite}" class="nav-link" (click)="openFavoriteList()" >Favorite list</a>
        </li>
        <li class="nav-item nav-fix ps-2">
          <a [ngClass]="{'active': isWatchList}" class="nav-link" (click)="openWatchList()" >Watch List</a>
        </li>
        <li class="nav-item nav-fix ps-2">
          <a [ngClass]="{'active': isContinue}" class="nav-link" (click)="openContinueList()" >Continue List</a>
        </li>
      </ul>
      <div class="row container-row">
        @for (item of renderList; track $index) {
          <div class="col-md-2 col-sm-6">
            <app-film-frame [item]="{
              thumb_url: item.poster,
              original_name: item.name,
              created: item.year,
              current_episode: item.currentEpisode,
              quality: item.quality,
              language: item.language,
              slug: item.slug
            }"></app-film-frame>
          </div>
        }

      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">...</a></li>
          <li class="page-item"><a class="page-link" href="#">67</a></li>
          <li class="page-item"><a class="page-link" href="#">68</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

