.right-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    overflow: hidden;
    background-color: #121212;
    color: white;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.right-menu .container {
    padding: 35px;
}

.card img {
    object-fit: cover;
}

.card-body h6 {
    font-size: 0.9rem;
}

.btn {
    font-size: 0.8rem;
}

a.text-primary {
    text-decoration: none;
}

a.text-primary:hover {
    text-decoration: underline;
}

