body {
  font-family: Arial, sans-serif;
  background-color: red;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
}
.carousel {
  width: 50%;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
}
.carousel-inner img {
  width: 100%;
  height: 700px; 
  object-fit: cover; 
  border-radius: 10px;
}
.custom-indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 10;
}
.custom-indicators .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
}
.dot.active {
  background-color: teal;
}
.carousel-control-next,
.carousel-control-prev {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
}
.carousel-control-next {
  right: 20px;
}
.carousel-control-prev {
  left: 20px;
}
.left-btn,
.right-btn {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
}
.carousel-item {
  position: relative;
}
.name-film {
  position: absolute;
  top: 30px;
  left: 50px;
  color: white;
  font-size: 45px;
  font-weight: bold;
  z-index: 1;
}
.watch-list {
  width: 20%;
  height: 12%;
  position: absolute;
  bottom: 50px;
  left: 20px;

  color: white;
  font-size: 20px;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.5);

  padding: 10px 20px;
  border-radius: 15px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.watch-list i {
  margin-right: 10px;
}
.watch-now {
  width: 20%;
  height: 12%;
  position: absolute;
  bottom: 50px;
  right: 20px;

  color: black;
  font-weight: 800;
  font-size: 17;
  background-color: rgba(0, 185, 174, 1);

  padding: 10px 20px;
  border-radius: 15px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
