body{
  background-color: #16181E;

}
.title-cmt{
  font-family: 'Lato',sans-serif;
  font-size: 24px;
  font-weight: 900;
}
.part-comment{
    font-family: 'Lato', sans-serif;
  }

 .comment {
    color: #fff;
    background-color: #2B303D;
  }

  .cmt-box {
    position: relative;
    border-radius: 8px;
  }

  .cmt-avt img {
    width: 50px;
    height: 50px;
    border-radius: 15%;
    object-fit: cover;
  }

  textarea {
    
    background-color: #242731;
    border: none;
    color: #fff;
    resize: none;
    padding: 10px;
    width: 100%;
  }

  textarea::placeholder {
    color: #8f8f8f;
  }

  .btn-comment {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #00B9AE;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.3s ease;
  }

  .btn-comment:hover {
    background-color: #00B9AE;
  }

  .part-comment ul li{
    background-color: #242731;
  }

  .cmt-time{
color: #00B9AE;
  }

.pagination-dark .page-item{
    background-color: transparent;

  }
  .pagination-dark .page-link {
    background-color: transparent; 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    
  }
  .pagination-dark .page-link:hover {
    background-color: #444; 
  }

  .pagination-dark .page-item.disabled .page-link {
    cursor: pointer;
    color: #8f8f8f;
  }
  .pagination-dark .page-item.active .page-link {
    cursor: pointer;
    background-color: #00B9AE;
  }
  .pagination-dark .page-item:not(.disabled) .page-link {
    cursor: pointer;
  }