<body>
  <div class="container-fluid mt-4">
    <div class="d-flex align-items-center mb-3 mx-4">
      <select class="form-select genres-select" aria-label="Genres">
        <option selected>Genres</option>
        <!-- Add more options here -->
      </select>
      <select class="form-select year-select" aria-label="Year">
        <option selected>Year</option>
        <!-- Add more options here -->
      </select>
      <select class="form-select country-select" aria-label="Country">
        <option selected>Country</option>
        <!-- Add more options here -->
      </select>
      <button class="btn btn-primary sorting-btn">Sorting</button>
    </div>
    <div class="container mt-5">
      <div class="title-bar">
        <h4>YOU MAY ALSO LIKE</h4>
        <p>See more ></p>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="rating">⭐ 7.8</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details">
              <div class="details-left">
                <h5>Loki</h5>
                <p>2023</p>
              </div>
              <div class="details-right"><p>Complete</p></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="rating">⭐ 7.8</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details">
              <div class="details-left">
                <h5>Loki</h5>
                <p>2023</p>
              </div>
              <div class="details-right"><p>Complete</p></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="rating">⭐ 7.8</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details">
              <div class="details-left">
                <h5>Loki</h5>
                <p>2023</p>
              </div>
              <div class="details-right"><p>Complete</p></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="rating">⭐ 7.8</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details">
              <div class="details-left">
                <h5>Loki</h5>
                <p>2023</p>
              </div>
              <div class="details-right"><p>Complete</p></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="rating">⭐ 7.8</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details">
              <div class="details-left">
                <h5>Loki</h5>
                <p>2023</p>
              </div>
              <div class="details-right"><p>Complete</p></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="rating">⭐ 7.8</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details">
              <div class="details-left">
                <h5>Loki</h5>
                <p>2023</p>
              </div>
              <div class="details-right"><p>Complete</p></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="rating">⭐ 7.8</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details">
              <div class="details-left">
                <h5>Loki</h5>
                <p>2023</p>
              </div>
              <div class="details-right"><p>Complete</p></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="rating">⭐ 7.8</div>
            <img [src]="lokiPath" alt="Loki" />
            <div class="details">
              <div class="details-left">
                <h5>Loki</h5>
                <p>2023</p>
              </div>
              <div class="details-right"><p>Complete</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
