<div class="row w-100 d-flex justify-content-center" style="min-height: 100vh;">
  <div class="col-10">
    <div
      class="d-flex align-items-center pt-4 select-container flex-wrap"
      [ngClass]="{ 'with-menu': !isCollapsed, 'without-menu': isCollapsed }"
    >
      <select
        class="form-select genres-select"
        aria-label="Genres"
        [(ngModel)]="selectedGenre"
      >
        <option value="" disabled selected>Genres</option>
        <option *ngFor="let genre of genreList()" [value]="genre.slug">
          {{ genre.name }}
        </option>
      </select>
      <select
        class="form-select year-select"
        aria-label="Year"
        [(ngModel)]="selectedYear"
      >
        <option value="" disabled selected>Year</option>
        <option *ngFor="let year of yearList()" [value]="year.year">
          {{ year.year }}
        </option>
      </select>
      <select
        class="form-select country-select"
        aria-label="Country"
        [(ngModel)]="selectedCountry"
      >
        <option value="" disabled selected>Country</option>
        <option *ngFor="let country of countryList()" [value]="country.slug">
          {{ country.name }}
        </option>
      </select>
      <div class="button-group ms-md-auto"> <!-- Add this wrapper -->
        <button class="btn sorting-btn mx-md-3 mx-lg-3" (click)="filterMovies()">Sorting</button>
        <button class="btn btn-outline-secondary" (click)="resetFilters()">Reset</button>
      </div>
    </div>
    <app-film-grid 
      [description]="'SORTING'" 
      [displayFrame]="4" 
      [films]="movieList()"
      [notSorting]="false">
    </app-film-grid>
    
    <app-pagination 
    *ngIf="sorting"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [maxVisiblePages]="5"
    (pageChange)="pageChanged($event)"
    ></app-pagination>
    <div class="mb-3"></div>
    
  </div>  
</div>
