/* Left Menu Styling */
.left-menu {
  position: absolute; /* Absolutely position the menu */
  left: 0; /* Align to the left of the viewport */
  top: 90px; /* Align to the top of the viewport */
  width: 14.5%; /* Default width of the menu */
  font-family: 'Lato', sans-serif;
  height: 100%; /* Ensure the menu takes the full height */
  transition: width 0.3s ease, transform 0.3s ease; /* Smooth transition for width and transform */
  overflow: hidden;
  z-index: 999; /* Ensure the menu is on top of other content */
  background-color: var(--semi-opaque-dark-background); 
}

/* To collapse the menu */
.left-menu.collapsed {
  width: 0; /* Collapse to 0 width */
  transform: translateX(-100%); /* Move the menu off-screen */
}

/* When the menu is collapsed, hide the text and icons */
.left-menu.collapsed .nav-link {
  visibility: hidden; /* Hide the text and icons when collapsed */
}

/* Menu Section Styling */
.menu-section {
  padding: 10px 0px;
}

/* Section Title Styling */
.section-title {
  padding: 10px 20px;
  font-size: 17.33px;
  text-transform: capitalize;
  color: #AEAFB2;
  margin-bottom: 10px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Truncate text that overflows */
  text-overflow: ellipsis; /* Display ellipsis when text is truncated */
}

.nav {
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.nav-link {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 17.33px;
  transition: background-color 0.2s ease;
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Display ellipsis when overflow occurs */
  white-space: nowrap; /* Prevent text wrapping */
}

.nav-link img {
  max-width: 1em;
  height: auto;
  padding: 0;
  margin: 0 10px 0 0;
}

/* Hover and active link styling */
.nav-link {
  color: var(--white-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
  background-color: var(--light-dark-background);
  border-radius: 5px;
}

.nav-link.active {
  background-color: var(--blue-highlight);
  border-radius: 5px;
}

.fix-padding {
  padding-left: 2em;
}

.active {
  background-color: var(--blue-highlight);
  border-radius: 5px;
}
