<div class="row whole">
  <!--Left menu-->
  <aside class="col-2 left-menu text-light" [class.collapsed]="isCollapsed">
    <app-left-menu></app-left-menu>
  </aside>
  <!-- Icon hiển thị khi menu thu nhỏ -->
  <div *ngIf="isCollapsed" class="toggle-icon" (click)="toggleMenu()">
    <img [src]="sideBarPath" alt="Collapse Menu" class="icon-out" />
  </div>

  <!--Main content-->
  <div
    class="col-6 container-fluid text-light"
    [class.full-width]="isCollapsed"
  >
    <!-- Carousel -->
    <div id="demo" class="carousel slide mx-auto" data-bs-ride="carousel">
      <!-- Custom Indicators -->
      <div class="custom-indicators">
        <span class="dot active" data-bs-target="#demo" data-bs-slide-to="0"></span>
        <span class="dot" data-bs-target="#demo" data-bs-slide-to="1"></span>
        <span class="dot" data-bs-target="#demo" data-bs-slide-to="2"></span>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        @for (item of newestList().slice(0,3); track $index){
        <div class="carousel-item active">
          <div class="container-fluid filter"></div>
          <img [src]="item.poster_url" alt="background" class="d-block image-fix" />
          <div class="name-film">{{item.name}}</div>
          <div class="watch-list">
            <i class="fa-solid fa-plus"></i>
            Watchlist
          </div>
          <div [routerLink]="'/watch'" class="watch-now" (click)="goToWatch(item)" style="cursor: pointer;">Watch Now</div>
        </div>
      }

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <div class="left-btn">
            <span class="carousel-control-prev-icon"></span>
          </div>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <div class="right-btn">
            <span class="carousel-control-next-icon"></span>
          </div>
        </button>
      </div>
    </div>

    <!-- Movies -->
    <div class="container mt-5">
      <div class="title-bar">
        <div
          class="my-auto me-2"
          style="background-color: #00b9ae; width: 4px; height: 2em"
        ></div>
        <div
          class="container-fluid d-flex justify-content-between label p-0 m-0 text-light"
        >
          <h4>Movies</h4>
          <p>See more >></p>
        </div>
      </div>
      <hr />
      <div class="row">
        @for (item of movieList().slice(0, 3); track $index) {
        <div class="col-md-4">
          <app-film-frame [item]="item"></app-film-frame>
        </div>
        }
      </div>
    </div>

    <!-- TV series -->
    <div class="container mt-5 mb-5">
      <div class="title-bar">
        <div
          class="my-auto me-2"
          style="background-color: #00b9ae; width: 4px; height: 2em"
        ></div>
        <div
          class="container-fluid d-flex justify-content-between label p-0 m-0 text-light"
        >
          <h4>TV Series</h4>
          <p>See more >></p>
        </div>
      </div>
      <hr />
      <div class="row">
        @for (item of tvList().slice(0, 3); track $index) {
        <div class="col-md-4">
          <app-film-frame [item]="item"></app-film-frame>
        </div>
        }
      </div>
    </div>
  </div>

  <!--Right menu-->
  <div [ngClass]="{'col-4': isExpanded, 'col-3': !isExpanded}" class="right-menu-container">
    <!-- Avatar for expanding/collapsing the menu -->
    <div class="avatar" (click)="toggleRightMenu()" style="color: red;">
      menu
    </div>

    <!-- Right menu that expands to the left -->
    <div class="p-3 bg-dark right-menu-content" >
      <app-right-menu></app-right-menu>
    </div>
  </div>
  <!--Right menu-->
</div>

<script>
  const carousel = document.querySelector("#demo");
  const dots = document.querySelectorAll(".dot");

  carousel.addEventListener("slid.bs.carousel", (event) => {
    dots.forEach((dot) => dot.classList.remove("active"));
    dots[event.to].classList.add("active");
  });
</script>

