<div class="row whole">
  <!--Left menu-->


  <!--Main content-->
  <div
    class="col-md-7 col-sm-12 container-fluid text-light">
    <!-- Carousel -->
    <app-center-film-frame [newestFilm]="newestList().slice(0,3)"></app-center-film-frame>

    <!-- Movies -->
    <div class="container mt-4 d-none d-md-flex">
    <app-film-grid 
      [description]="'Movies'" 
      [displayFrame]="3" 
      [films]="movieList().slice(0, 3)">
    </app-film-grid>
      
    </div>

    <!-- TV series -->
    <div class="container mt-4 mb-5">
      <app-film-grid 
      [description]="'TV Series'" 
      [displayFrame]="3" 
      [films]="tvList().slice(0, 3)">
    </app-film-grid>
    </div>
  </div>

  <!--Right menu-->
  <div [ngClass]="{'col-4': isExpanded, 'col-3': !isExpanded}" class="right-menu-container">
    <div class="p-3 bg-dark right-menu-content">
      <app-right-menu></app-right-menu>
    </div>
  </div>
  <!--Right menu-->
</div>

<script>
  const carousel = document.querySelector("#demo");
  const dots = document.querySelectorAll(".dot");

  carousel.addEventListener("slid.bs.carousel", (event) => {
    dots.forEach((dot) => dot.classList.remove("active"));
    dots[event.to].classList.add("active");
  });
</script>

