/*-----------------------------------Carousel-----------------------------------*/
.container-fluid {
    padding: 0 !important;
}
.transition-content {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}
.main-content {
  transform: translateX(0); /* Default position */
}
.move-right {
  transform: translateX(60px); /* Adjust value based on how far you want to move */
}
.move-right-full {
  transform: translateX(130px); /* Move the content off-screen */
}
.center-film-wrapper {
  padding: 20px; /* Add your desired padding */
}


@media (max-width: 767.98px) {
  .main-content {
    transform: none !important; /* Ensure no translations occur */
  }
}

