/*-----------------------------------Carousel-----------------------------------*/
.carousel {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 50px;
}

.carousel-inner img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: 10px;
}

.custom-indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 10;
}

.custom-indicators .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--white-color);
}

.dot.active {
  background-color: var(--blue-highlight);
}

.carousel-inner {
  position: relative;
}

.carousel-control-next,
.carousel-control-prev {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
}

.carousel-control-next {
  right: 20px;
}

.carousel-control-prev {
  left: 20px;
}

.left-btn,
.right-btn {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
}

.carousel-item {
  position: relative;
}

.filter {
  position: absolute;
  width: 150%;
  height: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: 10px;
  background-color: var(--half-opaque-dark-background);
}

.name-film {
  position: absolute;
  top: 30px;
  left: 50px;
  color: var(--white-color);
  font-size: 45px;
  font-weight: bold;
}

.watch-list {
  width: 20%;
  height: 12%;
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: var(--white-color);
  font-size: 17px;
  font-weight: 800;
  background-color: rgba(249, 249, 249, 0.2);
  padding: 10px 20px;
  border-radius: 15px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.watch-list i {
  margin-right: 10px;
}

.watch-now {
  width: 20%;
  height: 12%;
  position: absolute;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  color: var(--dark-background);
  font-weight: 800;
  font-size: 17px;
  background-color: var(--blue-highlight);
  padding: 10px 20px;
  border-radius: 15px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*-------------------Thumbnail (for Movies & TV Series)----------------------*/
.thumbnail {
  position: relative;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
}

.thumbnail .rating {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--semi-opaque-dark-background);
  padding: 5px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 700;
  color: var(--white-color);
  line-height: 17px;
}

.thumbnail img {
  width: 100%;
  aspect-ratio: 4/5;
  object-fit: cover;
  border-radius: 10px;
}

.thumbnail .details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 50px;
  color: var(--white-color);
}

.thumbnail .details .complete {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.details-top .details-top p {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: var(--white-color);
  line-height: 17px;
}

.details-bottom p {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: var(--white-color);
  line-height: 17px;
  opacity: 70%;
}

/*-----------------------------------Right Menu-----------------------------------*/

.right-menu-container {
  position: relative;
  overflow: hidden;
  transition: width 0.3s ease;
}

.right-menu-container.col-3 {
  width: 25%; /* Adjust this value as needed */
}

.right-menu-container.col-4 {
  width: 33.33%; /* Adjust this value as needed */
}

.right-menu-content {
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.right-menu-container.col-3 .right-menu-content {
  transform: translateX(25%); /* Adjust this value as needed */
}

.right-menu-container.col-4 .right-menu-content {
  transform: translateX(0);
}

/* Adjust for full-width when the left menu is collapsed */
.full-width {
  width: 60%;
}

