<app-loading *ngIf="loading"></app-loading>

<div class="d-flex justify-content-center align-items-center">
  <!--Left menu-->
  <div  [ngClass]="{'move-right': isLeftMenuOpen}"  
        class="col-10 text-light transition-content">
    <!-- Genres Section -->
    <div class="part-genres">
      <!-- <h2 class="fw-bold">Genres</h2> -->
      <div class="title-bar mt-3">
        <div
          class="my-auto me-2"
          style="background-color: #00b9ae; width: 4px; height: 2em"
        ></div>
        <div
          class="container-fluid d-flex justify-content-between label p-0 m-0 text-light"
        >
          <h4>Genres</h4>
          <!-- <p>See more >></p> -->
        </div>
      </div>
      <hr />

      <app-genre-grid [items]="genreList()" [columns]="3" [trackByFn]="trackById">
        <ng-template let-item>
          <div class="container-fix">
            <app-genre-frame [image]="item.image" [name]="item.name"></app-genre-frame>
          </div>
        </ng-template>
      </app-genre-grid>
      
    </div>
  </div>
</div>
