<div class="d-flex justify-content-center align-items-center">
  <!--Left menu-->
  <div  [ngClass]="{'move-right': isLeftMenuOpen}"  
        class="col-10 text-light transition-content">
    <!-- Genres Section -->
    <div class="part-genres">
      <!-- <h2 class="fw-bold">Genres</h2> -->
      <div class="title-bar mt-3">
        <div
          class="my-auto me-2"
          style="background-color: #00b9ae; width: 4px; height: 2em"
        ></div>
        <div
          class="container-fluid d-flex justify-content-between label p-0 m-0 text-light"
        >
          <h4>Genres</h4>
          <!-- <p>See more >></p> -->
        </div>
      </div>
      <hr />
      <!-- Tạo thành một component genre frame riêng rồi tạo thêm 1 component genre grid để chứ các genre frame nha Dương-->
      <!-- Genres Grid -->
      <div class="grid-container mb-4">
        <!-- @for (item of genreList().slice(0, 22); track $index) { -->
        <div
          *ngFor="let item of genreList(); let i = index; trackBy: trackById"
        >
          <!-- Drama -->
          <div class="container-fix">
            <div class="card text-white w-100">
              <div class="container-fluid filter"></div>
              <img
                [src]="item.image"
                class="card-img larger-image"
                alt="Drama"
              />
              <div
                class="card-img-overlay d-flex justify-content-center align-items-center"
              >
                <h5 class="card-title fw-bold">{{ item.name }}</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- } -->
      </div>
    </div>
  </div>
</div>
