  /*-----------------------------------LEFT MENU ------------------------------------------------------ */
  .left-menu{
    background-color: rgba(22, 24, 30, 0.7);
  }
  .arrow-down{
    width: 12%;
    aspect-ratio: 1/1;
  }
  
  .left-menu {
      width: 14.5%; 
      font-family: 'Lato', sans-serif;
  }
    
    /* SHOW ICON Styling */
  .left-menu img {
      display: block;
      max-width: 56%;
      height: auto;    
      max-height: 80px;
      margin: 0 auto; 
    }
    
    .menu-section {
      padding: 10px 0px;
    
    }
    .section-title {
     
      padding: 10px 20px;
      font-size: 17.33px;
      text-transform: capitalize;
      color: #AEAFB2;
      margin-bottom: 10px;
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis;
    }
    .nav{
      
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
    }
    
    .nav-link {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      font-size: 17.33px;
      transition: background-color 0.2s ease;
      overflow: hidden; 
      text-overflow: ellipsis;
      white-space: nowrap; 
     
    }
  
    .nav-link img{
      max-width: 1em;
      height: auto; 
      padding: 0;
      margin: 0 10px 0 0;
    }
    
    .nav-link:hover {
      background-color: #343a40; 
      border-radius: 5px;
    }
    
   
    .nav-link.active {
      color: hsl(180, 100%, 40%);
    }

    /*-----------------------------------GENRES------------------------------------------------------ */
   
  .card img {
    object-fit: cover;

  }
  
  .card-body h6 {
    font-size: 0.9rem;
  }
  
  .btn {
    font-size: 0.8rem;
  }
  
  a.text-primary {
    text-decoration: none;
  }
  
  a.text-primary:hover {
    text-decoration: underline;
  }
  
  
  /* genre */
  .genres-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
  }
  
  .genres-cards .card {
    position: relative;
    width: 90%;
  
  }
  
  .genres-cards .card img {
    object-fit: cover;
    height: 100%;
  }
  
  .genres-cards .card .details {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  