/* Navbar Styling */
.navbar {
  background-color: transparent !important; /* Ensure the navbar background is transparent */
  z-index: 1;
  border: none; /* Remove any borders if present */
}

/* Logo Styling */
.navbar .logo {
  width: 120px; /* Adjust logo size */
  max-width: 100%; /* Make sure the logo resizes properly on smaller screens */
  cursor: pointer;
}

/* Active Navigation Link */
.nav-link.active {
  color: var(--blue-highlight);
  font-weight: bold;
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--blue-highlight);
}

.nav-link {
  color: #fff;
}

.navbar-nav {
  display: flex;
  gap: 20px; /* Adds space between the navbar items */
  margin-bottom: 0;
}

/* Search Bar */
.search-bar {
  flex-shrink: 1;
  border: 1px solid #aeafb2;
  border-radius: 10px;
  overflow: hidden;
}

.search-bar input::placeholder {
  color: #aeafb2;
  opacity: 1;
}

.search-bar input:focus {
  outline: none;
  border-color: none;
  box-shadow: none;
}

/* Account Section */
.account img {
  width: 12%;
  border-radius: 12px;
}

/* Search Results */
.search-results {
  position: absolute;
  top: 100%;
  right: 22%;
  width: 30%;
  color: #fff;
  border-radius: 5px;
  z-index: 1000;
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #444;
}

.search-results img {
  border-radius: 5px;
}

/* Make Navbar Responsive */
@media (max-width: 768px) {
  .navbar .logo {
    width: 100px; /* Adjust logo size on smaller screens */
  }

  .navbar-nav {
    gap: 10px;  /* Reduce the gap on smaller screens */
  }

  .search-bar {
    width: 100%;  /* Make the search bar take up full width on smaller screens */
  }

  .account img {
    width: 25%;  /* Adjust avatar size on smaller screens */
  }
}
