.navbar .logo {
  width: 10%;
  height: auto;
}

.nav-link.active {
  color: var(--blue-highlight);
  font-weight: bold;
  position: relative;
} 

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--blue-highlight);
}

.nav-link{ 
  color: #fff;
}

.navbar-nav {
  display: flex;
  gap: 20px; 
  margin-bottom: 0;
}

.search-bar {
  flex-shrink: 1;
  margin-left: auto; 
}

.search-bar {
  border: 1px solid #aeafb2;
  border-radius: 10px;
  overflow: hidden;
}

.search-bar input::placeholder {
  color: #aeafb2;
  opacity: 1; 
}

.search-bar input:focus {
  outline: none; 
  border-color: none; 
  box-shadow: none; 
}

.account img {
  width: 12%;
  border-radius: 12px;
}
/* Search result */

.search-results {
  position: absolute;
  top: 100%;
  right: 22%;
  width: 30%;
  color: #fff;
  border-radius: 5px;
  z-index: 1000;
}

.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #444;
}

.search-results img {
  border-radius: 5px;
}
